.Hi{
    color: rgb(201, 68, 34);
    text-align:  center;
}
.img-01{
    text-align: center;
    display: block;
    margin: 0 auto;
    width: 350px;
    height: 250px;
    border-radius: 25px;
   
}
.video-01{
    text-align: center;
    
}
.texto{
    text-align:  center;
    color: brown;
}